<html>
  <head></head>
  <body>
    <h1>
    ERROR 400
    </h1>
    <h2>
      Invalid parameters.
      </h2>
      <h3>
      Please enter:
      <ol>
        <li>A single-character true symbol</li>
        <li>A single-character false symbol</li>
        <li>A size greater than or equal to 2</li>
        <li>Different characters for the true and false symbols.</li>
      </ol>
    <a href="/">Back to main</a>
  </body>
</html>
