<html>
  <head></head>
  <body>
      <form>
        True Symbol:
        <input type='text' name='t' /><br>
        False Symbol:
        <input type='text' name='f' /><br>
        Size (2^x):
        <input type='text' name='size' /><br>
        <input type='submit' value='Show Truth Table' formmethod='post'/><br>
        <a href="">Reload page</a>
      </form>
  </body>
</html>
